*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary-color: #3498db; /* Ana renk */
  --secondary-color: #2ecc71; /* İkincil renk */
  --accent-color: #e74c3c; /* Vurgu rengi */
  --background-color: #ecf0f1; /* Arka plan rengi */
  --text-color: #2c3e50; /* Metin rengi */
  /* background-color: var(--primary-color); */
}

html {
  font-size: 62, 5%;
}

