/* Responsive -------------max-width: 1199px--------------- */
@media only screen and (max-width: 1199px) {
    #HomeSection1 h1 {
      font-size: 50px;
    
    }
    .PhoneImgHome img {
      width: 70rem;
      height: 45rem;
    }
    #HomeSection2 {
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection2 img {
      width: 70rem;
      height: 60rem;
    }
    #HomeSection3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection3 img {
      width: 70rem;
      height: 60rem;
      padding-left: 3rem;
    }
    #HomeSection4 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection4 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection4 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection4 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection4 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    .HomeSection6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% - 14rem);
      height: 120rem;
      margin: 0rem 6.5rem;
    }
    .HomeSection6 h1 {
      font-size: 20px;
      padding-bottom: 2rem;
    }
  
    .card {
      margin: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .card img {
      width: 72rem;
      height: 70rem;
    }
    .texts {
      width: 70rem;
      height: 5rem;
    }
    #HomeSection7 {
      width: calc(100% - 6rem);
      height: 90rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      margin: 0rem 3rem;
      padding-left: 5rem;
    }
    #HomeSection7 h1 {
      font-size: 32px;
      font-weight: 600;
    }
    #HomeSection7 h5 {
      color: var(--text-color);
      font-weight: 500;
      padding: 1rem 0rem;
      font-size: 16px;
    }
    #HomeSection7 img {
      width: 60rem;
      height: 60rem;
      margin-top: 7rem;
      margin-right: 3rem;
    }
    .HomeSection7Buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .HomeSection7Buttons button {
      width: 60rem;
      height: 3rem;
      font-size: 16px;
      font-weight: 500;
      background-color: black;
      color: white;
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
    }
  
    #HomeSection9 {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 3rem;
      margin-left: 3rem;
    }
    #HomeSection9 .HomeSection9Card {
      width: 60rem;
      height: 15rem;
    }
    #HomeSection9 .HomeSection9Card h2 {
      font-size: 18px;
    }
    #HomeSection9 .HomeSection9Card p {
      font-size: 14px;
      padding-top: 1rem;
      color: var(--text-color);
    }
  
    #HomeSection9 .HomeSection9Card button {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(237, 235, 235);
      color: rgb(210, 79, 61);
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
      margin-top: 2rem;
    }
    /* --------- */
    #HomeSection10 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection10 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection10 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection10 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection10 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    /* --------- */
    #HomeSection11 {
      align-items: start;
      justify-content: start;
      flex-direction: column;
      margin: 1.5rem 0rem 5rem 2rem;
    }
    .HomeSection11Card {
      width: 71rem;
      height: 17rem;
      background-color: rgb(254, 250, 233);
      padding: 3rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 15px;
    }
    .HomeSection11Card:first-child {
      background-color: rgb(242, 246, 245);
    }
    .HomeSection11Card h3 {
      font-size: 16px;
      color: var(--text-color);
    }
    .HomeSection11Card h2 {
      font-size: 18px;
    }
    .HomeSection11Card p {
      font-size: 16px;
      color: var(--text-color);
    }
    #HomeSection12 h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .countersCon {
      flex-direction: column;
      gap: 4.5rem;
    }
  }
  /* Responsive -------------max-width: 1199px--------------- */
  
  /* Responsive -------------max-width: 1024px--------------- */
  @media only screen and (max-width: 1024px) {
    #HomeSection1{
      margin-top: 5rem;
      padding-left: 7rem;
    }
    #HomeSection1 h1{
    font-size: 55px;
    }
    #HomeSection1 p{
      font-size: 19px;
      }
    .PhoneImgHome img {
      width: 70rem;
      height: 45rem;
    }
    #HomeSection2 {
      justify-content: start;
      align-items: start;
      padding-left: 4rem;
    }
    #HomeSection2 img {
      width: 80rem;
      height: 60rem;
      margin-left: 0rem;
    
    }
    #HomeSection3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      padding-left: 4rem;
    }
    #HomeSection3 img {
      width: 60rem;
      height: 60rem;
      padding-left: 0rem;
    }
    #HomeSection4 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection4 {
      width: 69rem;
      margin: 0rem 2rem;
      padding-left: 0rem;
    }
  
    #HomeSection4 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection4 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection4 img {
      margin-top: 5rem;
      width: 70rem;
      height: 70rem;
    }
    .HomeSection6 {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: calc(100% - 14rem);
      height: 120rem;
      margin: 0rem 6.5rem;
    }
    .HomeSection6 h1 {
      font-size: 20px;
      padding-bottom: 2rem;
    }
  
    .card {
      margin: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .card img {
      width: 72rem;
      height: 70rem;
    }
    .texts {
      width: 70rem;
      height: 5rem;
    }
    #HomeSection7 {
      width: calc(100% - 6rem);
      height: 90rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      margin: 0rem 3rem;
      padding-left: 5rem;
    }
    #HomeSection7 h1 {
      font-size: 32px;
      font-weight: 600;
    }
    #HomeSection7 h5 {
      color: var(--text-color);
      font-weight: 500;
      padding: 1rem 0rem;
      font-size: 16px;
    }
    #HomeSection7 img {
      width: 60rem;
      height: 60rem;
      margin-top: 7rem;
      margin-right: 3rem;
    }
    .HomeSection7Buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .HomeSection7Buttons button {
      width: 60rem;
      height: 3rem;
      font-size: 16px;
      font-weight: 500;
      background-color: black;
      color: white;
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
    }
  
    #HomeSection9 {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 3rem;
      margin-left: 3rem;
    }
    #HomeSection9 .HomeSection9Card {
      width: 60rem;
      height: 15rem;
    }
    #HomeSection9 .HomeSection9Card h2 {
      font-size: 18px;
    }
    #HomeSection9 .HomeSection9Card p {
      font-size: 14px;
      padding-top: 1rem;
      color: var(--text-color);
    }
  
    #HomeSection9 .HomeSection9Card button {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(237, 235, 235);
      color: rgb(210, 79, 61);
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
      margin-top: 2rem;
    }
    /* --------- */
    #HomeSection10 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection10 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection10 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection10 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection10 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    /* --------- */
    #HomeSection11 {
      align-items: start;
      justify-content: start;
      flex-direction: column;
      margin: 1.5rem 0rem 5rem 2rem;
    }
    .HomeSection11Card {
      width: 71rem;
      height: 17rem;
      background-color: rgb(254, 250, 233);
      padding: 3rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 15px;
    }
    .HomeSection11Card:first-child {
      background-color: rgb(242, 246, 245);
    }
    .HomeSection11Card h3 {
      font-size: 16px;
      color: var(--text-color);
    }
    .HomeSection11Card h2 {
      font-size: 18px;
    }
    .HomeSection11Card p {
      font-size: 16px;
      color: var(--text-color);
    }
    #HomeSection12 h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .countersCon {
      flex-direction: column;
      gap: 4.5rem;
    }
  }
  /* Responsive -------------max-width: 768px--------------- */
  @media only screen and (max-width: 768px) {
    .PhoneImgHome img {
      width: 70rem;
      height: 45rem;
    }
    #HomeSection2 {
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection2 img {
      width: 70rem;
      height: 60rem;
    }
    #HomeSection3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection3 img {
      width: 70rem;
      height: 60rem;
      padding-left: 3rem;
    }
    #HomeSection4 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection4 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection4 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection4 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection4 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    .HomeSection6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% - 14rem);
      height: 120rem;
      margin: 0rem 6.5rem;
    }
    .HomeSection6 h1 {
      font-size: 20px;
      padding-bottom: 2rem;
    }
  
    .card {
      margin: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .card img {
      width: 72rem;
      height: 70rem;
    }
    .texts {
      width: 70rem;
      height: 5rem;
    }
    #HomeSection7 {
      width: calc(100% - 6rem);
      height: 90rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      margin: 0rem 3rem;
      padding-left: 5rem;
    }
    #HomeSection7 h1 {
      font-size: 32px;
      font-weight: 600;
    }
    #HomeSection7 h5 {
      color: var(--text-color);
      font-weight: 500;
      padding: 1rem 0rem;
      font-size: 16px;
    }
    #HomeSection7 img {
      width: 60rem;
      height: 60rem;
      margin-top: 7rem;
      margin-right: 3rem;
    }
    .HomeSection7Buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .HomeSection7Buttons button {
      width: 60rem;
      height: 3rem;
      font-size: 16px;
      font-weight: 500;
      background-color: black;
      color: white;
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
    }
  
    #HomeSection9 {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 3rem;
      margin-left: 3rem;
    }
    #HomeSection9 .HomeSection9Card {
      width: 60rem;
      height: 15rem;
    }
    #HomeSection9 .HomeSection9Card h2 {
      font-size: 18px;
    }
    #HomeSection9 .HomeSection9Card p {
      font-size: 14px;
      padding-top: 1rem;
      color: var(--text-color);
    }
  
    #HomeSection9 .HomeSection9Card button {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(237, 235, 235);
      color: rgb(210, 79, 61);
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
      margin-top: 2rem;
    }
    /* --------- */
    #HomeSection10 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection10 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection10 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection10 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection10 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    /* --------- */
    #HomeSection11 {
      align-items: start;
      justify-content: start;
      flex-direction: column;
      margin: 1.5rem 0rem 5rem 2rem;
    }
    .HomeSection11Card {
      width: 71rem;
      height: 17rem;
      background-color: rgb(254, 250, 233);
      padding: 3rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 15px;
    }
    .HomeSection11Card:first-child {
      background-color: rgb(242, 246, 245);
    }
    .HomeSection11Card h3 {
      font-size: 16px;
      color: var(--text-color);
    }
    .HomeSection11Card h2 {
      font-size: 18px;
    }
    .HomeSection11Card p {
      font-size: 16px;
      color: var(--text-color);
    }
    #HomeSection12 h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .countersCon {
      flex-direction: column;
      gap: 4.5rem;
    }
  }
  /* Responsive -------------max-width: 768px--------------- */
  
  /* Responsive -------------max-width: 640px--------------- */
  @media only screen and (max-width: 640px) {
    .PhoneImgHome img {
      width: 70rem;
      height: 45rem;
    }
    #HomeSection2 {
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection2 img {
      width: 70rem;
      height: 60rem;
    }
    #HomeSection3 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      padding-left: 2rem;
    }
    #HomeSection3 img {
      width: 70rem;
      height: 60rem;
      padding-left: 3rem;
    }
    #HomeSection4 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection4 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection4 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection4 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection4 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    .HomeSection6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% - 14rem);
      height: 120rem;
      margin: 0rem 6.5rem;
    }
    .HomeSection6 h1 {
      font-size: 20px;
      padding-bottom: 2rem;
    }
  
    .card {
      margin: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .card img {
      width: 72rem;
      height: 70rem;
    }
    .texts {
      width: 70rem;
      height: 5rem;
    }
    #HomeSection7 {
      width: calc(100% - 6rem);
      height: 90rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: start;
      margin: 0rem 3rem;
      padding-left: 5rem;
    }
    #HomeSection7 h1 {
      font-size: 32px;
      font-weight: 600;
    }
    #HomeSection7 h5 {
      color: var(--text-color);
      font-weight: 500;
      padding: 1rem 0rem;
      font-size: 16px;
    }
    #HomeSection7 img {
      width: 60rem;
      height: 60rem;
      margin-top: 7rem;
      margin-right: 3rem;
    }
    .HomeSection7Buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .HomeSection7Buttons button {
      width: 60rem;
      height: 3rem;
      font-size: 16px;
      font-weight: 500;
      background-color: black;
      color: white;
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
    }
  
    #HomeSection9 {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 3rem;
      margin-left: 3rem;
    }
    #HomeSection9 .HomeSection9Card {
      width: 60rem;
      height: 15rem;
    }
    #HomeSection9 .HomeSection9Card h2 {
      font-size: 18px;
    }
    #HomeSection9 .HomeSection9Card p {
      font-size: 14px;
      padding-top: 1rem;
      color: var(--text-color);
    }
  
    #HomeSection9 .HomeSection9Card button {
      width: 7.5rem;
      height: 2.5rem;
      font-size: 14px;
      font-weight: 500;
      background-color: rgb(237, 235, 235);
      color: rgb(210, 79, 61);
      border-radius: 3rem;
      font-family: var(--HomeSection-font-family);
      transition: 0.3s ease-in-out;
      margin-top: 2rem;
    }
    /* --------- */
    #HomeSection10 {
      width: 100%;
      height: 93rem;
      background-color: rgb(242, 246, 245);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
  
      gap: 5rem;
      align-items: center;
      border-radius: 16px;
    }
    #HomeSection10 {
      width: calc(100% - 3rem);
      margin: 0rem 1.5rem;
      padding-left: 0rem;
    }
  
    #HomeSection10 h1 {
      font-size: 26px;
      font-weight: 600;
      padding: 0rem 1.5rem;
    }
    #HomeSection10 h5 {
      color: var(--text-color);
      font-weight: 600;
      padding: 1.5rem 1.5rem;
    }
    #HomeSection10 img {
      margin-top: 5rem;
      width: 72rem;
      height: 70rem;
    }
    /* --------- */
    #HomeSection11 {
      align-items: start;
      justify-content: start;
      flex-direction: column;
      margin: 1.5rem 0rem 5rem 2rem;
    }
    .HomeSection11Card {
      width: 71rem;
      height: 17rem;
      background-color: rgb(254, 250, 233);
      padding: 3rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 15px;
    }
    .HomeSection11Card:first-child {
      background-color: rgb(242, 246, 245);
    }
    .HomeSection11Card h3 {
      font-size: 16px;
      color: var(--text-color);
    }
    .HomeSection11Card h2 {
      font-size: 18px;
    }
    .HomeSection11Card p {
      font-size: 16px;
      color: var(--text-color);
    }
    #HomeSection12 h2 {
      font-size: 25px;
      font-weight: 600;
    }
    .countersCon {
      flex-direction: column;
      gap: 4.5rem;
    }
  }
  /* Responsive -------------max-width: 640px--------------- */
  
  